.fleet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.fleet-header > h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 60, 60);
    text-transform: uppercase;
}

.fleet-header > p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #333;
}

.fleet-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 30px;
}

.fleet-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 30px 0px;
    margin: 20px 0px;
    background-color: #d5d0cda1;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(211, 211, 211);
    text-align: center;
    place-content: center;
}

.fleet-card > img {
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
}

.fleet-card > h3 {
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}

.fleet-card .discount-price {
    color: rgba(70, 70, 70, 0.271);
    font-weight: 800;
    text-decoration: line-through;
}

.vehicle-data {
    color: #9e9691;
}

.vehicle-price {
    color: rgb(43, 174, 43);
    font-weight: 800;
}

.vehicle-price > span {
    color: rgba(22, 22, 22, 0.407);
}

.vehicle-specifications {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.vehicle-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.data-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-view-more {
    opacity: 0;
    max-height: 0;
    margin-top: 10px;
}

.fleet-card:hover .button-view-more {
    max-height: 100px;
    opacity: 1;
    transition: all 0.7s ease-out;
    transform: translateY(10px);
}

.button-view-more > button {
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #FF3C3C;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    bottom: 10px;
}

.button-view-more > button:hover {
    background-color: #FF1C1C;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.dialog-modal {
    width: 800px;
    height: 400px;
    margin: auto;
    border: none;
    background-color: #d5d0cde7;
    border-radius: 8px;
    padding: 20px;
}

.dialog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.close-menu {
    display: flex;
    justify-content: right;
}

.close-button {
    border: none;
    background-color: transparent;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.gallery-container > img {
    object-fit: contain;
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.data-vehicle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 15px;
    text-align: left;
}

.data-vehicle-wrapper > h3 {
    color: #FF3C3C;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
}

.data-vehicle-wrapper > h4 {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
}

.data-vehicle-wrapper > a {
    text-align: center;
}

.modal-button {
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #FF3C3C;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    bottom: 10px;
    text-decoration: none;
}   

.modal-button:hover {
    background-color: #FF1C1C;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.gallery-image {
    border-radius: 8px;
    position: relative;
}

.yarl__slide > img {
    width: 100%;
    height: auto;
}

.click-to-see-more {
    opacity: 0;
    margin-top: 5px;
    background-color: #FF3C3C;
    border-radius: 8px;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 21%;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.gallery-container:hover .click-to-see-more {
    opacity: 1;
    transition: all 0.7s ease-in-out;
    transform: translateY(5px);
}

@media screen and (max-width: 1200px){
    .fleet-section {
        margin-left: 0;
        width: 100%;
    }

    .fleet-card {
        margin: 20px auto; 
    }

    .fleet-card:hover .button-view-more {
        max-height: 100px;
        opacity: 1;
        transform: translateY(0);
        transition: none;
    }

    .button-view-more {
        max-height: 100px;
        opacity: 1;
        transform: translateY(0);
        transition: none;
        margin-top: 20px;
        width: auto;
    }

    .dialog-modal {
        width: 70%;
        height: 700px;
        padding: 10px;
        margin: auto;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .gallery-container {
        position: relative;
        width: 100%;
    }

    .gallery-container > img {
        margin-top: 20px;
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
    }

    .click-to-see-more {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        text-align: center;
        opacity: 1;
        padding: 10px 20px;
        z-index: 10;
    }

    .gallery-container:hover .click-to-see-more {
        transform: translateX(-50%);
        opacity: 1;
    }

    .data-vehicle-wrapper {
        width: 90%;
    }    
}

@media screen and (max-width: 600px) {

    .fleet-section {
        margin-left: 0;
        width: 100%;
    }

    .fleet-card {
        margin: 20px auto; 
    }

    .fleet-card:hover .button-view-more {
        max-height: 100px;
        opacity: 1;
        transform: translateY(0);
        transition: none;
    }

    .button-view-more {
        max-height: 100px;
        opacity: 1;
        transform: translateY(0);
        transition: none;
        margin-top: 20px;
    }
    
    .fleet-header > h2 {
        font-size: 2rem;
    }

    .fleet-header > p {
        font-size: 1.4rem;
    }

    .fleet-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-view-more {
        width: 80%;
    }

    .dialog-modal {
        width: 90%;
        height: 90%;
        padding: 10px;
        margin: 20px auto;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .gallery-container {
        position: relative;
        width: 100%;
    }

    .gallery-container > img {
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
    }

    .click-to-see-more {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        opacity: 1;
        padding: 10px;
        z-index: 10;
    }

    .gallery-container:hover .click-to-see-more {
        transform: translateX(-50%);
        opacity: 1;
    }

    .data-vehicle-wrapper {
        width: 90%;
    }
}