.fleet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.fleet-header > h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.fleet-header > p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #333;
}

.fleet-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 30px;
}

.fleet-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 30px 0px;
    margin: 20px 0px;
    background-color: #d5d0cda1;
    color: #9e9691;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(211, 211, 211);
    text-align: center;
    place-content: center;
}

.fleet-card > img {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
}

.fleet-card > h3 {
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}

.fleet-card .discount-price {
    color: rgba(70, 70, 70, 0.271);
    font-weight: 800;
}

.vehicle-data {
    color: #9e9691;
}

.vehicle-price {
    color: rgb(43, 174, 43);
    font-weight: 800;
}

.vehicle-price > span {
    color: rgba(22, 22, 22, 0.407);
}

.vehicle-specifications {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.vehicle-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

