.clients-section {
    display: flex;
    padding: 10px 10px;
    margin: 10px;
    background-color: #d5d0cda1;
    border-radius: 8px;
    height: 300px; 
    margin-bottom: 40px;     
}

.clients-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.clients-section-title > h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 60, 60);
    margin-bottom: 1rem;
}

.clients-section-title > p {
    font-size: 1.2rem;
    font-weight: 400;
}

.clients-section-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    place-items: center;
    width: 800px;
}

.image-container-carousel {
    height: auto;
}

.image-carousel {
    height: 200px;
    width: 150px;
    margin: 20px 0px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .clients-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100vh;
    }

    .clients-section-title {
        width: 100%;
    }

    .clients-section-carousel {
        width: 100%;
        margin: 0;
    }

    .image-carousel {
        height: 400px;
    }
}
