.header{
    display: flex;
    flex-flow: column;
    height: 60px;
}

.top-header{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-menu button{
    margin-left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer
}

.right-menu button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.middle-menu, img {
    width: 150px;
    height: 120px;
}
