.header{
    display: flex;
    flex-flow: column;  
    align-items: center;
    justify-content: center;
    height: 100px;
    backdrop-filter: blur(5%);
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    transition: all 0.4s ease-in;
}

@keyframes adjust-header {
    to {
        background-color: rgba(0, 0, 0, 0.1);
        height: 50px;
        width: 25%;
        left: 38%;
        border-radius: 8px;
        top: 10px;

        transition: all 0.4s ease-in;
    }
}

.header > a > img {
    width: 200px;
    height: 100%;
}