@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(235, 235, 235, 0.944);
    width: 100%;
}

.swiper-scrollbar {
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-size: 6px;
    --swiper-scrollbar-drag-bg-color: #9e9691;
    --swiper-scrollbar-bg-color: #d5d0cda1;
}

.swiper-button-next {
    --swiper-navigation-color: #6d6c6b;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 30px;
    border-radius: 100px;
}

.swiper-button-prev {
    --swiper-navigation-color: #6d6c6b;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 30px;
    border-radius: 100px;
}

@media screen and (max-width: 800px) {
    * {
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
   
    #root {
        width: 100%;
        overflow-x: hidden;
    }

    h2, p {
        text-align: center;
    }
    
}

@media screen and (max-width: 600px) {
    * {
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }

    h2, p {
        text-align: center;
    }

    #root {
        width: 100%;
        overflow-x: hidden;
    }

    .swiper-button-prev {
        --swiper-navigation-color: transparent;
        background-color: transparent;
    }

    .swiper-button-next {
        --swiper-navigation-color: transparent;
        background-color: transparent;
    }

}