.why-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-image: url("/assets/miamiBanner.webp");
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
    mask-image: linear-gradient(to top, transparent, black 10%);
    -webkit-mask-image: (
        linear-gradient(
            to top,
            transparent,
            black 10%
        )
    )
}

.why-us-section::after {
    content: "";
    position: absolute;
    height: auto;
    z-index: -1;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    filter: blur(40px);
}

.why-us-section > h2 {
    font-size: 2.5rem;
    color: rgb(255, 60, 60);
    margin-bottom: 30px;
}

.stats-section {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

}

.stat-clients {
    width: 250px;
    font-size: 1.6rem;
    color: rgb(255, 60, 60);
    font-weight: 600;
    margin-bottom: 20px;
}

.fundaments-section {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 60px;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
}

.fundaments-section > span {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
}

.about-us-content {
    margin-top: 30px;
    text-align: center;
    background-color: rgba(215, 215, 215, 0.674);
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.about-us-content > p {
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .why-us-section {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stats-section {
        gap: 20px;
        display: flex;
        justify-content: center;
    }

    .fundaments-section {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .span-wrapper {
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 500px;
    }

    .span-wrapper > svg {
        width: 25px;
    }

    .about-us-content {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .why-us-section {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .stats-section {
        gap: 30px;
        width: auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .fundaments-section {
        display: flex;
        flex-flow: row wrap;
    }

    .fundaments-section > span {
        gap: 20px;
    }

    .span-wrapper > svg {
        width: 25px;
    }

    .about-us-content {
        width: 100%;
    }
}