.servicies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 80px;
}

.servicies h2{
    font-size: 30px;
    color: #FF3C3C;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.services-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 25px;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgba(215, 215, 215, 0.944);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-block-start: 15px;
    border: 1px solid #FF3C3C;
}

.service-container > h3 {
    margin-top: 10px;
}

.service-container > h3::after {
    background: rgb(255, 60, 60);
    border-radius: 10px;
    content: "";
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 44px;
}

.service-container:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    border: 3px solid #FF3C3C;
    background-color: rgba(224, 224, 224, 0.944);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}