.page-footer {
    background-color: #d5d0cda1;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    border-radius: 8px;
    gap: 80px;
}

.site-map-section {
    display: flex;
    gap: 200px;
}   

.content-wrap > h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: rgb(255, 60, 60);
    text-align: center;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrap > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-methods-list {
    display: flex;
    gap: 30px;
}

.contact-section > ul {
    list-style: none;
}

.contact-icons {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.disclaimer-section > p {
    color: #4a4949a1;
}

.button-list {
    border: 3px solid transparent;
    line-height: 2.5rem;
    font-size: 1.1rem;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.button-icons {
    line-height: 2.5rem;
    font-size: 1.1rem;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: black;
}

.button-list:hover {
    border-bottom: 3px solid rgb(160, 140, 140);
    color: rgb(160, 140, 140);
    transition: all 0.5s ease-in-out;
}

.button-icons:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .page-footer {
        display: flex;
        flex-direction: column;
    }

    .site-map-section {
        flex-direction: column;
        gap: 40px;
    }

    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .user-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .business-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-list > li {
        list-style: none;
        color: black;
    }

    .button-list:hover {
        border-bottom: none;
        color: rgb(160, 140, 140);
        transition: all 0.5s ease-in-out;
    }

}